<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Layaravindam</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body align="center">
    <style>
      body {
            padding: 40px 0;
            background-color: #252323;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            max-width: 500px;
            width: 100%;
        }

        h1 {
            color: #fff;
            text-align: center;
            margin-bottom: 30px;
        }
    </style>
    <div class="container">
      <form method="post" action="default">
        <div class="form-group">
          <button class="btn btn-success" name="btn" value="default" tabIndex="5" style="width:370px;height:80px;font-size:26px;" href="/default"> Default patterns </button>
        </div>
      </form>
      <form method="post" action="custom">
        <div class="form-group">
          <button class="btn btn-success" name="btn" value="custom" tabIndex="5" style="width:370px;height:80px;font-size:26px;" href="/custom" > Custom patterns </button>
        </div>
      </form>


    <script type="text/javascript">
    $(document).on('keypress', 'input,select', function (e) {
        if (e.which == 13) {
            var $next = $('[tabIndex=' + (+this.tabIndex + 1) + ']');
            console.log($next.length);
            if (!$next.length) {
           $next = $('[tabIndex=1]');        }
            $next.focus() .click();
        }
    });
    </script>
    </div>
  </body>
</html>
