<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>Main page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <style>
    body {
        padding: 40px 100px;
        background-color: #252323;
        font-size: 28px;
    }
    input[type="number"],input[type="text"]{
      font-size: inherit;
    }
    label{
      color: #fff;
    }
    .btn-success{
      padding: 18px 45px;
      font-size: 20px;
    }
    .btn-danger{
      padding: 18px 45px;
      font-size: 20px;
    }
    form {
        max-width: 400px;
        margin: 0 auto;
    }

    </style>
    These pattern can be defined as of below examples(Each part is seperated by '-')
      <br><br>Example 1: <br> For 1 time chaturasram 1 time trisram 2nd speed(6) 1 time chaturasram 2nd speed(8) the pattern is 4-6-8
      <br><br>Example 2: <br> 1 time trisram 2 times chatusram 3 times khandam ,the pattern is 3-4,4-5,5,5<br><br>
    <div class="container">
      <form method="POST" action="simple/patterns">
        <div class="form-group">
          <label for="text">Pattern:</label>
          <input type="text" name="pt" class="form-control" id="text" required tabIndex="1" autofocus>
        </div>
        <div class="form-group">
          <label for="num">Tala avrutha kriyas:</label>
          <input type="number" name="num1" step="0.01" class="form-control" id="num" required tabIndex="1" autofocus>
        </div>
        <div class="form-group">
          <label for="num">Edupu(jaga) aksharas:</label>
          <input type="number" name="num2" step="0.01" class="form-control" id="usr" required tabIndex="2">
        </div>
        <div class="form-group">
          <label for="units">Enter Unit:</label><br>
          <select id="units" name="units" style="color: #252325">
            <option value="Aksharas" selected>Aksharas</option>
            <option value="Kriyas">Kriyas</option>
          </select>
        </div>
        <div class="form-group">
          <button class="btn btn-success" tabIndex="5"> Submit</button>
          <a href="{{ url_for('custom_htm') }}" class="btn btn-danger" tabIndex="5"> Back </a>
        </div>
      </form>

    <script type="text/javascript">
    $(document).on('keypress', 'input,select', function (e) {
        if (e.which == 13) {
            var $next = $('[tabIndex=' + (+this.tabIndex + 1) + ']');
            console.log($next.length);
            if (!$next.length) {
           $next = $('[tabIndex=1]');        }
            $next.focus() .click();
        }
    });
    </script>
    </div>
  </body>
</html>
